altgraph==0.17
auto-py-to-exe==2.9.0
bottle==0.12.19      
bottle-websocket==0.2.9
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
docutils==0.17.1
Eel==0.12.4
future==0.18.2
gevent==21.1.2
gevent-websocket==0.10.1
greenlet==1.1.0
ibm-cloud-sdk-core==3.10.0
ibm-watson==5.1.0
idna==2.10
Kivy==2.0.0
kivy-deps.angle==0.3.0
kivy-deps.glew==0.3.0
kivy-deps.gstreamer==0.3.2
kivy-deps.sdl2==0.3.1
Kivy-examples==2.0.0
Kivy-Garden==0.1.4
numpy==1.20.3
opencv-python==4.5.2.54
pefile==2021.5.24
Pillow==8.2.0
pycparser==2.20
Pygments==2.9.0
pyinstaller==4.3
pyinstaller-hooks-contrib==2021.1
PyJWT==2.1.0
pypiwin32==223
python-dateutil==2.8.1
pywin32==300
pywin32-ctypes==0.2.0
requests==2.25.1
six==1.16.0
Unipath==1.1
urllib3==1.26.4
websocket-client==0.48.0
whichcraft==0.6.1
zope.event==4.5.0
zope.interface==5.4.0